// =======================================
// Layout Style
// =======================================
#header, #footer, #container {
	width: 100%;
}
#header {
	position: fixed;
	height: 40px;
	background: $bg-nav-depth;
	z-index: 100;
	.wrap {
		> h1 {
			font-size: 16px;
			font-weight: normal;
			color: #fff;
			line-height: 40px;
			margin: 0;
		}
	}
}
#header {
	.wrap {
		.top-menu {
			height: 100%;
			font-size: 12px;
			text-align: center;
			> a {
				float: left;
				display: block;
				color: #ccc;
				height: 100%;
				line-height: 40px;
				padding: 0 20px;
				i {
					font-size: 14px;
					margin-right: 6px;
					vertical-align: middle;
				}
				&:hover, &:focus, &.selected {
					color: #fff;
					background: lighten($bg-nav-depth, 20%);
					&:before {
						color: #fff;
					}
				}
			}
		}
	}
}
#header {
	.wrap {
		.mobile-menu {
			padding: 20px;
			padding-right: 0;
			.menu-button {
				font-size: 12px;
				color: #fff;
				margin-bottom: $base-line-height;
				i.fa {
					font-size: 18px;
					padding-right: 6px;
					vertical-align: top;
				}
			}
			> ul {
				li {
					border-bottom: 1px solid #a547c0;
					a {
						display: inline-block;
						line-height: 48px;
						font-size: 16px;
						color: #fff;
						padding: 0 6px;
						i.fa {
							font-size: 20px;
							width: 40px;
						}
						&:hover, &:focus, &.active {
							color: $font-color-yellow;
						}
					}
					> ul {
						background: #a547c0;
						padding: 10px 0;
						li {
							a {
								display: inline-block;
								line-height: 28px;
								font-size: 14px;
								padding-left: 46px;
								&:hover, &:focus, &.active {
									color: $font-color-yellow;
								}
							}
						}
					}
				}
			}
		}
	}
}
#header {
	.wrap {
		.top-button {
			text-align: right;
			margin-top: 5px;
			.menu-button {
				display: inline-block;
				width: 30px;
				height: 30px;
				color: #ccc;
				text-align: center;
				border: 1px solid #999;
				span {
					display: none;
				}
				&:before {
					font-family: 'FontAwesome';
					content: "\f0c9";
					font-size: 18px;
					line-height: 29px;
				}
			}
		}
	}
}
#header {
	.wrap {
		> h1 {
			@include span(6);
			@extend %text-wrap;
		}
		.top-menu {
			display: none;
		}
		.top-button {
			@include span(2 float last);
			display: inline-block;
		}
		@include susy-breakpoint($tablet, 8) {
			> h1 {
				@include span(2);
			}
			.top-menu {
				display: inline-block;
				float: right;
				> a {
					min-width: 100px;
				}
			}
			.top-button {
				display: none;
				@include span(2 float last);
			}
		}
		@include susy-breakpoint($desktop, 12) {
			> h1 {
				@include span(2);
			}
			.top-menu {
				> a {
					min-width: 120px;
				}
			}
			.top-button {
				@include span(10);
				@include last;
			}
		}
	}
}
#container {
	position: relative;
	min-height: 480px;
	padding-top: 40px;
	background: #fff;
	overflow: hidden;
	clear: both;
	.sub-container {
		padding-top: $base-line-height * 2;
		padding-bottom: $base-line-height * 2;
		clear: both;
	}
	@include susy-breakpoint($tablet, 8) {
		min-height: 680px;
	}
	@include susy-breakpoint($desktop, 12) {
		min-height: 750px;
	}
}
#footer {
	position: relative;
	height: 40px;
	border-top: 1px solid #fff;
	background: $bg-default;
	overflow: hidden;
	.copyright {
		font-family: Verdana;
		font-style: normal;
		font-size: 12px;
		text-align: center;
		line-height: 40px;
	}
}

// =======================================
// index.html (Merchant Login)
// =======================================
.login-box {
	h1 {
		font-size: 30px;
		font-weight: normal;
		text-align: center;
		margin-bottom: 32px;
	}
}
.login-box {
	.search-set {
		display: inline-block;
		@include span(full);
		overflow: hidden;
		margin-bottom: 27px;
		[class^="tab-"] {
			display: inline-block;
			float: left;
			width: 50%;
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: #999;
			background: #fff;
			&:focus {
				color: $font-default;
				background: #fdfdfd;
			}
			&.selected {
				color: #fff;
				background: $bg-default-purple;
			}
		}
	}
}
.login-box {
	.login-box-set {
		> li {
			position: relative;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			input {
				font-size: 13px;
				width: 100%;
				height: 50px;
				padding-left: 15px;
				padding-right: 70px;
				border: 0px;
				cursor: default;
				@include susy-breakpoint($tablet, 8) {
					font-size: 14px;
					padding-left: 20px;
				}
			}
			> ul {
				display: none;
				max-height: 160px;
				overflow-y: auto;
			}
			.checkbox {
				text-align: left;
				margin-bottom: 14px;
				.store-label {
					color: #fff;
				}
			}
			.btn-default {
				font-size: 24px;
				width: 100%;
				height: 50px;
				margin-left: 0;
				line-height: 50px;
			}
		}
	}
}
.login-box {
	.login-box-set {
		> li {
			button {
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				border-left: 1px solid $bg-default;
				&:before {
					font-size: 20px;
					color: $font-default;
				}
				&:hover {
					background: #faf6fb;
					&:before {
						color: $bg-default-purple;
					}
				}
				&.btn-flag:before {
					font-family: 'FontAwesome';
					content: '\f024';
				}
			}
			button.active {
				border-top: 3px solid $font-default;
				border-left: 3px solid $font-default;
				border-right: 3px solid $font-default;
				&:before {
					color: $font-color-purple;
				}
			}
		}
	}
}
.login-box {
	.login-box-set {
		> li {
			.input-clear {
				position: absolute;
				top: 0;
				right: 50px;
				width: 50px;
				height: 50px;
				border-left: 0;
				&:before {
					color: #d2d2d2;
				}
				&:hover {
					background: none;
					&:before {
						color: $bg-default-purple;
					}
				}
			}
			.input-clear.active {
				display: none;
			}
		}
	}
}
.login-box {
	.login-box-set {
		> li {
			> ul {
				> li {
					background: $font-default;
					color: #a1a1a1;
					a {
						display: block;
						max-width: 100%;
						padding: 3px 20px;
					}
					&:first-child {
						padding-top: 12px;
					}
					&:last-child {
						padding-bottom: 12px;
					}
					&:hover, &:focus, &.selected {
						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
#container.login-bg {
	background: $bg-default;
	padding-bottom: 0;
	.wrap {
		padding-top: 22px;
		padding-bottom: 22px;
		overflow: hidden;
		.login-box {
			@include span(full);
		}
		@include susy-breakpoint($tablet, 8) {
			padding-top: 42px;
			padding-bottom: 42px;
			.login-box {
				@include span(4 at 3);
				.search-set {
					display: none;
				}
			}
		}
		@include susy-breakpoint($desktop, 12) {
			padding-top: 105px;
			padding-bottom: 105px;
			.login-box {
				@include span(4 at 5);
			}
		}
	}
}

// =======================================
// booking-upcoming.html (Booking - Upcoming)
// =======================================
.title-btn-bg {
	position: relative;
	@include span(full);
	background: $bg-default-purple;
	border-top: 1px solid #a547c0;
	clear: both;
	.title-btn {
		line-height: $base-line-height * 2;
		> h3 {
			@include wh-center;
			font-size: 100%;
			color: #eade25;
			@include susy-breakpoint($mobile, 6) {
				font-size: initial;
			}
		}
		> a {
			@include layout(2 0%/50%);
			font-size: 16px;
			color: #fff;
			text-align: center;
			&:focus, &.selected {
				color: $font-color-yellow;
			}
			&:first-child {
				@include span(1);
				border-right: 1px solid #b568cb;
			}
			&:last-child {
				@include span(1);
				@include last;
			}
		}
	}
}
.upcoming-list {
	.search-set {
		@include layout(2 8px/136px);
		> ul {
			> li {
				line-height: 40px;
				margin-bottom: 10px;
				> input, > button, > select {
					height: 40px;
					line-height: 40px;
				}
				.upcoming-search {
					@extend .btn-default;
					font-size: 16px;
					.fa-search {
						font-size: 18px;
						vertical-align: baseline;
						margin-right: 10px;
					}
				}
				&:nth-of-type(1) {
					@include span(full);
				}
				&:nth-of-type(2) {
					@include span(1);
				}
				&:nth-of-type(3) {
					@include span(1);
					@include last;
				}
				&:nth-of-type(4) {
					@include span(full);
					input[type=search] {
						width: 100%;
					}
				}
				&:nth-of-type(5) {
					@include span(full);
					@include last;
					margin-bottom: 0;
					button {
						width: 100%;
					}
				}
			}
		}
	}
	.total {
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		clear: both;
	}
}
.upcoming-list {
	@include susy-breakpoint($tablet) {
		.search-set {
			@include layout(8 8px/68px);
			> ul {
				> li {
					&:nth-of-type(1) {
						@include span(4);
					}
					&:nth-of-type(2) {
						@include span(4);
						@include last;
					}
					&:nth-of-type(3) {
						@include span(2);
						margin-bottom: 0;
					}
					&:nth-of-type(4) {
						@include span(4);
						margin-bottom: 0;
					}
					&:nth-of-type(5) {
						@include span(2);
						@include last;
					}
				}
			}
		}
	}
}
.upcoming-list {
	@include susy-breakpoint($desktop) {
		.search-set {
			@include layout(12 8px/76px);
			> ul {
				> li {
					margin-bottom: 0;
					&:nth-of-type(1) {
						@include span(3);
					}
					&:nth-of-type(2) {
						@include span(2);
					}
					&:nth-of-type(3) {
						@include span(2);
					}
					&:nth-of-type(4) {
						@include span(3);
					}
					&:nth-of-type(5) {
						@include span(2);
						@include last;
					}
				}
			}
		}
	}
}
.upcoming-list {
	.table-set {
		tbody {
			tr {
				td {
					padding-left: 170px;
					&:before {
						width: 150px;
					}
					&:nth-of-type(1) {
						font-size: 12px;
						&:before {
							content: "Date \A Time";
							white-space:pre;
						}
					}
					&:nth-of-type(2) {
						color: $font-color-purple;
						&:before {
							content: "Store \A Service";
							white-space:pre;
						}
						.service {
							color: $font-default;
						}
					}
					&:nth-of-type(3) {
						text-decoration: underline;
						&:before {
							content: "Stylist";
						}
					}
					&:nth-of-type(4) {
						text-decoration: underline;
						&:before {
							content: "Customer";
						}
					}
					&:nth-of-type(5):before {
						content: "Status";
					}
				}
				td.cancel {
					color: #bfbfbf;
					text-decoration: line-through;
					&:last-child {
						text-decoration: inherit;
					}
					.service {
						color: #bfbfbf;
					}
				}
				td.standby {
					background: #fefee3;
					&:last-child {
						color: $font-color-orange;
						text-decoration: inherit;
					}
				}
				.stylist {
					> i {
						display: none;
						font-size: 23px;
						margin-right: 10px;
					}
				}
				.customer {
					@extend .stylist;
					> i {
						font-size: 24px;
					}
				}
			}
		}
	}
	.table-set {
		@include susy-breakpoint($tablet) {
			tbody {
				tr {
					td {
						padding-left: 5px;
						padding-top: 6px;
						padding-bottom: 6px;
						&:nth-of-type(1) {
							line-height: 1.75;
						}
						&:nth-of-type(2) {
							line-height: 1.75;
						}
					}
					.stylist, .customer {
						> i {
							display: inline-block;
							vertical-align: sub;
						}
					}
				}
			}
		}
	}
}

// =======================================
// setting-staff-list.html (Setting - Staff)
// =======================================
.setting-staff-title-bg {
	@extend .title-btn-bg;
	.title-btn {
		> a {
			@include layout(4 0px/250px);
			font-size: 12px;
			&:nth-of-type(1) {
				@include span(1);
			}
			&:nth-of-type(2) {
				@include span(1);
			}
			&:nth-of-type(3) {
				@include span(1);
			}
			&:nth-of-type(4) {
				@include span(1);
				@include last;
			}
		}
	}
	@include susy-breakpoint($mobile) {
		.title-btn {
			> a {
				font-size: 16px;
			}
		}
	}
}
.setting-staff-list {
	@extend .upcoming-list;
	overflow: hidden;
	clear: both;
	.search-set.wrap {
		margin-bottom: 30px;
		> ul {
			li {
				&:nth-of-type(1) {
					@include span(full);
				}
				&:nth-of-type(2) {
					@include span(full);
				}
				&:nth-of-type(3) {
					@include span(full);
					input[type=search] {
						width: 100%;
					}
				}
				&:nth-of-type(4) {
					@include span(full);
					button {
						width: 100%;
					}
				}
			}
		}
	}
}
.setting-staff-list {
	@include susy-breakpoint($tablet) {
		.search-set.wrap {
			@include layout(8 8px/68px);
			> ul {
				li {
					&:nth-of-type(1) {
						@include span(5);
					}
					&:nth-of-type(2) {
						@include span(3);
						@include last;
					}
					&:nth-of-type(3) {
						@include span(5);
					}
					&:nth-of-type(4) {
						@include span(3);
						@include last;
					}
				}
			}
		}
	}
}
.setting-staff-list {
	@include susy-breakpoint($desktop) {
		.search-set.wrap {
			@include layout(12 8px/76px);
			> ul {
				li {
					&:nth-of-type(1) {
						@include span(3);
					}
					&:nth-of-type(2) {
						@include span(2);
					}
					&:nth-of-type(3) {
						@include span(5);
					}
					&:nth-of-type(4) {
						@include span(2);
						@include last;
					}
				}
			}
		}
		@include susy-breakpoint(1020px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.hair-style-set {
	> li {
		position: relative;
		background: #555;
		border-bottom: 1px solid #fff;
		&:last-child {
			border-bottom: 0;
		}
		> a {
			font-size: 16px;
			color: #fff;
			padding: 10px 0 10px 20px;
			display: inline-block;
			span {
				display: block;
				font-size: 12px;
				color: #ccc;
			}
		}
		.btn-down {
			float: right;
			&:before {
				font-family: 'FontAwesome';
				content: "\f107";
				font-size: 24px;
				color: #fff;
				line-height: 60px;
				padding: 0 20px;
			}
		}
		@include susy-breakpoint($mobile) {
			> a {
				padding-right: 20px;
			}
			.btn-down {
				&:before {
					padding: 0 30px;
				}
			}
		}
	}
}
.hair-style-set {
	> li {
		.panel {
			@extend %bg-common;
			display: none;
		}
		&:first-child {
			.panel {
				display: block;
			}
		}
		&:focus, &.active {
			.btn-down:before {
				content: "\f106";
				line-height: 58px;
			}
			.panel {
				display: block;
			}
		}
	}
}
.hair-style-set {
	> li {
		.week-time {
			li {
				font-size: 12px;
				padding-bottom: 1px;
				line-height: 20px;
				span {
					background: $bg-default;
					display: inline-block;
					width: 36px;
					color: #333;
					text-align: center;
					margin-right: 16px;
				}
				&:first-child {
					span {
						background: #f3acac;
					}
				}
				&:last-child {
					span {
						background: #c1dce7;
					}
				}
			}
		}
	}
}
.hair-style-set {
	padding: 0;
	> li {
		.panel {
			hr.line {
				height: 1px;
				border: 0;
				margin-left: 40px;
				margin-right: 40px;
				background: $border-gray;
			}
			> ul {
				padding: 30px;
				overflow: hidden;
				> li {
					display: block;
					min-height: auto;
					overflow: hidden;
					.cell {
						display: block;
					}
				}
			}
			ul.terminated {
				> li {
					.cell {
						.title, .star {
							color: #999;
						}
					}
				}
				> li:nth-of-type(3) {
					display: none;
				}
			}
		}
	}
}
.hair-style-set {
	> li {
		.panel {
			> ul {
				> li:nth-of-type(1) {
					text-align: center;
					.cell {
						&.hair-img {
							width: 100%;
							height: 100%;
							img {
								max-width: 100%;
								max-height: 100%;
								vertical-align: middle;
								border: 1px solid $border-gray;
							}
						}
					}
				}
				> li:nth-of-type(2) {
					padding-left: 0;
					margin-top: 20px;
					.cell {
						> p {
							font-size: 12px;
							span.star {
								font-size: 14px;
							}
							&:nth-of-type(2) {
							margin-bottom: 20px;
							}
							&.terminated {
								color: #999;
								span {
									color: $font-color-purple;
									padding-right: 4px;
								}
							}
						}
						.title {
							font-size: 20px;
							color: $font-color-purple;
						}
					}
				}
				> li:nth-of-type(3) {
					display: none;
				}
				> li:nth-of-type(4) {
					margin-top: 20px;
					.cell {
						[class^="btn-"] {
							@include layout(2 10px/135px);
							width: 100%;
							line-height: 2;
							margin-bottom: 10px;
							&.default {
								@include btn-default($miw:120, $fz:18, $bg-color: #d5d5d5);
								cursor: default;
								&:hover, &:focus {
									background: #d5d5d5;
									text-shadow: inherit;
								}
							}
						}
						.btn-time-off-request {
							@include span(full);
							@include btn-default($miw:120, $fz:18, $bg-color: #e66815);
						}
						.btn-history {
							@include span(1);
							@include btn-default($miw:120, $fz:18);
							margin-bottom: 0;
						}
						.btn-terminated {
							@include span(1);
							@include last;
							@include btn-default($miw:120, $fz:18, $bg-color: #555);
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
.hair-style-set {
	@include susy-breakpoint($mobile, 6) {
		@include layout(6 16px/80px);
		> li {
			.panel {
				hr.line {
					margin-left: 30px;
					margin-right: 30px;
					background: $border-gray;
				}
				> ul {
					padding: 30px;
					> li:nth-of-type(1) {
						@include span(2);
					}
					> li:nth-of-type(2) {
						margin-top: 0;
						@include span(4);
						@include last;
						.cell {
							.title {
								font-size: 30px;
							}
						}
					}
					> li:nth-of-type(4) {
						@include span(full);
					}
				}
			}
		}
	}
}
.hair-style-set {
	@include susy-breakpoint($tablet) {
		@include layout(8 16px/72px);
		> li {
			.panel {
				> ul {
					> li:nth-of-type(1) {
						@include span(2);
					}
					> li:nth-of-type(2) {
						@include span(3);
					}
					> li:nth-of-type(4) {
						margin-top: 0;
						@include span(3);
						@include last;
						.cell {
							.btn-history {
								@include span(full);
								margin-bottom: 10px;
							}
							.btn-terminated {
								@include span(full);
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}
.hair-style-set {
	@include susy-breakpoint($desktop) {
		@include layout(12 20px/60px);
		> li {
			.panel {
				> ul {
					> li {
						min-height: 140px;
						display: table;
						.cell {
							display: table-cell;
						}
					}
					> li:nth-of-type(1) {
						@include span(2);
						.cell {
							&.hair-img {
								width: 140px;
								height: 140px;
							}
						}
					}
					> li:nth-of-type(2) {
						@include span(4);
						padding-left: 20px;
					}
					> li:nth-of-type(3) {
						display: table;
						@include span(3);
					}
					> li:nth-of-type(4) {
						@include span(3);
						@include last;
					}
				}
			}
		}
	}
}