// ==========================================================================
// Popup Layout Style
// ==========================================================================
.popup-layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: rgba(#000, .55);
	opacity: 0;
	visibility: hidden;
	overflow-y: hidden;
	z-index: 10000;
	@include transition(opacity .3s 0s, visibility 0s .3s);
	&.is-visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .3s 0s, visibility 0s 0s);
	}
	.container {
		position: relative;
		min-width: 280px;
		min-height: 320px;
		height: 100%;
		background: #fff;
		border: 1px solid $bg-default-purple;
		-ms-touch-action: none;
		touch-action: none;
		box-sizing: content-box;
		overflow-y: auto;
		.popup-title {
			position: relative;
			font-size: 18px;
			color: #fff;
			max-width: 100%;
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
			padding-right: 54px;
			background: $bg-default-purple;
		}
		.fa-close {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 18px;
			color: #fff;
			width: 54px;
			height: 40px;
			line-height: 40px;
			text-align: center;
		}
		.pop-list {
			padding: 30px 20px;
			textarea {
				width: 100%;
				height: 60px;
				overflow-y: auto;
			}
			dl {
				width: 100%;
				font-size: 12px;
				margin-bottom: 10px;
				overflow: hidden;
				dt {
					margin-bottom: 6px;
				}
				dd {
					min-height: 30px;
					input {
						width: 100%;
						height: 40px;
						line-height: 40px;
					}
					&.select-style {
						width: 100%;
						&:before {
							line-height: 40px;
						}
						> select {
							max-width: 100%;
							height: 40px;
							line-height: 40px;
						}
					}
					&.checkbox {
						display: inline-block;
						margin-top: 6px;
						label {
							vertical-align: super;
						}
					}
				}
			}
		}
		.pop-btn-set {
			width: 100%;
			text-align: center;
			[class^="pop-btn-"] {
				max-width: 100%;
				margin-top: 40px;
				margin-bottom: 20px;
				font-size: 18px !important;
				height: 40px;
				line-height: 40px !important;
			}
		}
	}
	@include susy-breakpoint($mobile) {
		.container {
			@include w-center ($position: relative, $w-percent: 50%);
			max-width: 640px;
		}
	}
}
.pop-table {
	width: 100%;
	caption {
		display: inline-grid;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		line-height: 34px;
		background: $border-gray;
		padding: 0 20px;
		.more {
			float: right;
			font-size: 18px;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid $border-gray;
			td {
				line-height: 34px;
				padding: 0 20px;
				font-size: 12px;
			}
		}
	}

}

// ==========================================================================
// booking-upcoming.html (Booking Upcoming - 상세보기 Popup)
// ==========================================================================
.popup-layer {
	&.pop-upcoming-detail {
		.container {
			background: $table-th-bg-color;
			.pop-list {
				padding: 0;
				.info {
					background: #fff;
					padding: 20px 20px 40px 20px;
					> h5 {
						@include sub-title ($fz: 24px, $fw: normal, $mb: 18px);
						color: $font-color-purple;
					}
					> ul {
						li {
							border-top: 1px solid $bg-default;
							> p {
								margin-top: $base-line-height;
								margin-bottom: $base-line-height;
							}
							[class^="selected-"] {
								font-size: 18px;
							}
							.selected-designer, .selected-customer {
								text-decoration: underline;
							}
							.service {
								margin-top: $base-line-height;
								margin-bottom: $base-line-height;
								[class^="selected-"] {
									&:before {
										top: 0;
									}
								}
								> p {
									margin-top: 10px;
									margin-bottom: 10px;
								}
								h4 {
									@include sub-title ($fz: 12px, $fw: bold, $mb: 10px);
									color: $font-color-purple;
								}
							}
							&:last-child {
								border-bottom: 1px solid $bg-default;
							}
						}
					}
				}
			}
		}
	}
}
.popup-layer {
	&.pop-upcoming-detail {
		.container {
			.pop-list {
				.pay {
					width: 100%;
					padding: $base-line-height;
					padding-bottom: $base-line-height * 2;
					> p {
						overflow: hidden;
						clear: both;
					}
					.service {
						&:first-child {
							margin-top: $base-line-height;
						}
						span:first-child {
							float: left;
						}
						span:last-child {
							float: right;
						}
					}
					.total {
						font-size: 48px;
						text-align: right;
						margin-top: $base-line-height;
					}
					.request-by {
						font-size: 12px;
						margin-top: 10px;
						span {
							font-weight: bold;
							color: $font-color-purple;
							margin-right: 8px;
						}
					}
					.pop-btn-set {
						overflow: hidden;
						[class*="btn-"] {
							@include layout(2 10px/155px);
							margin-top: $base-line-height;
							&.default {
								@include btn-default($miw:120, $fz:18, $bg-color: #d5d5d5);
								cursor: default;
								&:hover, &:focus {
									background: #d5d5d5;
									text-shadow: inherit;
								}
							}
						}
						.btn-reschedule {
							@include btn-default($fz: 18);
							@include span(1);
						}
						.btn-cancel {
							@include btn-default($fz:18, $bg-color: #e66815);
							@include span(1);
							@include last;
						}
						.btn-comfirm {
							@include btn-default($fz:18, $bg-color: #555);
							@include span(full);
							margin-top: 10px;
						}
					}
					@include susy-breakpoint($mobile) {
						.pop-btn-set {
							@include layout(3 10px/200px);
							.btn-reschedule {
								@include span(1);
							}
							.btn-cancel {
								@include span(1);
							}
							.btn-comfirm {
								@include span(1);
								@include last;
								margin-top: $base-line-height;
							}
						}
					}
				}
			}
		}
	}
}

// ==========================================================================
// booking-upcoming.html (Booking Upcoming - Stylist 정보 & 고객정보 Popup)
// ==========================================================================
.popup-layer {
	&.pop-upcoming-stylist {
		.container {
			.pop-list {
				padding: 0;
				.stylist-profile {
					background: $table-th-bg-color;
					overflow: hidden;
					img {
						float: left;
						width: 132px;
						height: 132px;
						margin: 10px 20px;
					}
					.stylist-name {
						font-size: 14px;
						font-weight: bold;
						color: $font-color-table-th;
						margin: 30px 20px 10px 20px;
					}
					.reviews {
						font-size: 12px;
						margin: 0 20px 20px 20px;
					}
				}
				.stylist-info {
					dl {
						dt {
							color: $font-color-purple;
						}
						dd {
							min-height: 20px;
						}
					}
					padding: 20px;
					overflow: hidden;
					.box-left {
						display: block;
						@include span(full);
					}
					.box-right {
						display: block;
						dl {
							dd.store-name {
								color: $font-color-orange;
							}
						}
						@include span(full);
						.week-time {
							li {
								padding-bottom: 10px;
								&:last-child {
									padding-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
.popup-layer {
	&.pop-upcoming-stylist {
		.container {
			.pop-table {
				tbody {
					tr {
						td {
							p {
								line-height: 24px;
								a[class*="trigger-"] {
									float: right;
									text-decoration: underline;
										margin-top: -6px;
									> i.fa-user {
										font-size: 24px;
										margin-left: 8px;
									}
								}
								&:nth-of-type(1) {
									overflow: hidden;
									span.date {
										float: left;
										max-width: 80%;
									}
									span.status {
										float: right;
									}
								}
							}
							&:nth-of-type(1) {
								min-width: 180px;
								line-height: 24px;
								padding-top: 6px;
								padding-bottom: 6px;
							}
							&:nth-of-type(2) {
								display: none;
							}
							&:nth-of-type(3) {
								font-size: 12px;
							}
							.store-name {
								color: $font-color-purple;
							}
						}
						td.cancel {
							color: #bfbfbf;
							text-decoration: line-through;
							.store-name {
								color: #bfbfbf;
								text-decoration: inherit;
							}
						}
						td.standby {
							background: #fefee3;
							p {
								span.status {
									color: $font-color-orange;
								}
							}
						}
					}
				}
			}
		}
	}
}
.popup-layer {
	&.pop-upcoming-stylist {
		.container {
			@include susy-breakpoint($mobile, 4) {
				.pop-list {
					.stylist-profile {
						.stylist-name {
							font-size: 24px;
						}
					}
					.stylist-info {
						.box-left {
							display: inline-block;
							@include span(2);
						}
						.box-right {
							display: inline-block;
							@include span(2);
							@include last;
						}
					}
				}
				.pop-table {
					tbody {
						tr {
							td {
								p {
									&:nth-of-type(1) {
										span.date {
											max-width: inherit;
										}
									}
									&:nth-of-type(2) {
										font-size: 14px;
									}
									&:nth-of-type(3) {
										font-size: 14px;
									}
								}
								&:nth-of-type(2) {
									display: block;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.popup-layer {
	&.pop-upcoming-customer {
		@extend .pop-upcoming-stylist;
	}
}

// ==========================================================================
// setting-staff-list.html (Setting - Time off Request Popup)
// ==========================================================================
.popup-layer {
	&.pop-time-off-request {
		.container {
			> h4 {
				@include sub-title ($fz: 24px, $fw: normal, $mb: 18px);
				color: $font-color-purple;
				padding: 40px 20px;
				margin-bottom: 0;
			}
			.pop-table {
				tbody {
					tr {
						td {
							&.standby {
								background: #fefee3;
							}
							&.status {
								color: $font-color-orange;
							}
							&:nth-of-type(1) {
								line-height: $base-line-height;
								padding: 5px 20px;
							}
							&:nth-of-type(2) {
								display: none;
							}
						}
					}
				}
			}
			.time-set {
				background: $table-th-bg-color;
				overflow: hidden;
				padding: 20px 0;
				[class$="-time"] {
					width: 50%;
					text-align: center;
					font-size: 14px;
					p:first-child {
						font-size: 12px;
						color: $font-color-purple;
						font-weight: bold;
						padding-bottom: 6px;
					}
				}
				.start-time {
					float: left;
				}
				.end-time {
					float: right;
				}
			}
			.pop-list {
				.notice-title {
					font-size: 14px;
					font-weight: bold;
					color: $font-color-label;
				}
				.notice {
					font-size: 12px;
					padding: $base-line-height 0;
				}
				.pop-btn-set {
					overflow: hidden;
					[class*="btn-"] {
						@include layout(2 10px/155px);
						margin-top: $base-line-height;
					}
					.btn-accept {
						@include btn-default($fz: 18, $bg-color: #555);
						@include span(1);
					}
					.btn-dismiss {
						@include btn-default($fz:18);
						@include span(1);
						@include last;
					}
				}
			}
		}
	}
}
.popup-layer {
	&.pop-time-off-request {
		.container {
			@include susy-breakpoint($mobile, 4) {
				.time-set {
					[class$="-time"] {
						font-size: 18px;
					}
				}
				.pop-table {
					tbody {
						tr {
							td {
								&:nth-of-type(1) {
									line-height: inherit;
									padding: 0 20px;
								}
								&:nth-of-type(2) {
									display: table-cell;
								}
							}
						}
					}
				}
			}
		}
	}
}